/* .iframeContainer {
  padding: 20px;
  border: 1px solid #e3e3e3;
} */

/* Sticky Footer rules (https://getbootstrap.com/examples/sticky-footer/) */
html {
  position: relative;
  min-height: 100%;
  /* background-color: lightgray; */
}

.container {
  /* background-color: lightcyan; */
}
body {
  /* background-color: lightgray; */

}  


.center {
  text-align: center;
}

.bottom {
  margin-bottom: 100px;
}

.padding {
  padding: 15px;
}
